apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "robomind.fullname" . }}-config
  namespace: {{ include "robomind.namespace" . }}
  labels:
    {{- include "robomind.labels" . | nindent 4 }}
data:
  NODE_ENV: {{ .Values.server.env.NODE_ENV | quote }}
  AUTH_DISABLED: {{ .Values.server.env.AUTH_DISABLED | quote }}
  PUBLIC_URL: "http://{{ include "robomind.fullname" . }}-server:{{ .Values.server.service.port }}"
