{{- if .Values.postgres.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "robomind.fullname" . }}-postgres
  namespace: {{ include "robomind.namespace" . }}
  labels:
    {{- include "robomind.labels" . | nindent 4 }}
    app.kubernetes.io/component: postgres
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    {{- include "robomind.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: postgres
{{- end }}
